
# cypress-image-snapshot visual diffs
__diff_output__

# cypress-image-snapshot images of the whole cypress UI
*(failed).snap.png

# electron forge output
out/

# npm
node_modules/
*.log
*.log.*

# os crap
Thumbs.db
~*
