

body {
	background: #BBB;
}
#cont {
    width: 200px;
    height: 200px;
    border: 1px solid #afa; /*To show the boundaries of the element*/
}
#cont:before {
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.5);
    width: 200px;
    height: 200px;
    pointer-events: none;
}

tool {
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
}
tool:before {
	content: " ";
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #7b7b7b;
	border-bottom: 1px solid #7b7b7b;
}
tool.selected {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}
tool.selected:before {
	border-top: 1px solid #7b7b7b;
	border-left: 1px solid #7b7b7b;
	border-right: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
}

tool.selected,
.jspaint-current-colors {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC) repeat;
}
/*
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQIW2PcvXv3f1dXV0ZGBiAAcQBCfwczEgEQgwAAAABJRU5ErkJggg==
*/

.jspaint-toolbar {
	padding-left: 4px;
	padding-right: 2px;
}

.jspaint-main {
	background: #7b7b7b;
	border: 1px inset;
}

.jspaint-colors {
	width: 257px;
	height: 33px;
}
