
body {
	font-family: Roboto, sans-serif;
	font-size: 15px;
}

.canvas-area > canvas {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC") repeat;
	/* 16px is a common grid size, but that gives 8px grid cells, and our max zoom is 8x */
	/*background-size: 16px;*/
	background-size: 8px;
}

.canvas-area canvas,
.selection canvas,
.selection img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.window,
.menu-popup {
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.window,
.window-titlebar {
	/*border-top-left-radius: 2px;*/
	/*border-top-right-radius: 2px;*/
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.window-titlebar {
	background: #3f51b5;
	color: white;
	/*padding: 16px;*/
	/*height: 32px;*/
	padding: 8px;
}
.window-content {
	padding: 16px;
	background: white;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.component-window .window-content {
	padding: 0;
}
.component-window .component {
	padding: 16px;
}
.window-close-button {
	border: 0;
	background: none;
	color: inherit;
	font: inherit;
	transform: scale(1.5);
}

.menus {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	z-index: 1;
}

.menu-button,
.menu-item {
	outline: 0;
}

.menu-button {
	/*padding: 16px;*/
	padding: 3px 7px 5px 7px;
	margin-top: 2px;
	border: 1px solid transparent;
}
.menu-button:hover {
	background: #eeeeee;
}
.menu-button:active,
.menu-button.active {
	background: #e5e5e5;
}

.menu-item:hover {
	background: #eeeeee;
}
.menu-item:active,
.menu-item.active {
	background: #e5e5e5;
}

.menu-popup {
	background: white;
	padding: 8px 0;
}

/*.menu-item {
	padding: 6px 10px 6px 30px;
}*/
.menu-item td {
	/*height: 32px;*/
	height: 27px;
	padding: 0;
}
.menu-item td:first-child {
	padding-left: 16px;
}
.menu-item td:last-child {
	padding-right: 16px;
}
.menu-item[disabled] {
	color: #bdbdbd;
}
.menu-item.active {
	background: #eeeeee;
}
.menu-hr {
	/*height: 32px;*/
	margin-top: 6px;
	margin-bottom: 6px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.menu-item .menu-item-checkbox-area {
	padding-right: 8px;
}
.menu-item .menu-item-shortcut {
	padding-left: 16px;
}

.color-selection {
	/*border-radius: 50%; */
	border: 1px solid rgba(0, 0, 0, 0.5);
	/* border: 1px outset; */
	width: 18px;
	height: 18px;
}
.color-button {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.tools {
	width: 50px;
}
.tool {
	border: 0;
	background: 0;
	width: 24px;
	height: 24px;
}
.tool.selected {
	background: rgba(0, 0, 0, 0.24);
}

.tool-options {
	/* the layout currently depends on the exact pixel width (specifically the brush tool options) */
	border: 1px solid rgba(0, 0, 0, 0.24);
}

.component-area,
.status-area {
	background: #f1f1f1;
}
.canvas-area {
	background: #7b7b7b;
	/*background: #e9e9e9;*/
	padding: 8px;
}


.help-window li ul {
	padding-left: 16px;
}
