@import "./classic.css";
@import "./red-wine.css";

:root {
	--theme-loaded: "occult.css";
}

.tool-icon,
.tool-icon.use-svg { /* specificity needed for overriding classic theme; SVG is not supported yet for this theme */
	background-image: url("../../images/occult/tools.png");
	background-repeat: no-repeat;
	background-position: calc(-16px * var(--icon-index)) 0;
}
/* .tool-icon.use-svg {
	background-image: url("../../images/occult/tools.svg");
	background-position: calc(-16px * (var(--icon-index) * 2 + 1)) -16px;
} */


/* Show pixel art tool icons as pixelated. */
/* Note: also inheriting image-rendering logic from classic.css */
.enlarge-ui .tool-icon {
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}


.transparent-mode-option,
.transparent-mode-option.use-svg { /* specificity needed for overriding classic theme; SVG is not supported yet for this theme */
	background-image: url("../../images/occult/options-transparency.png");
}
/* .transparent-mode-option.use-svg {
	background-image: url("../../images/occult/options-transparency.svg");
} */

.toggle-dwell-clicking .button-icon {
	background: url(../../images/dark/eye-gaze-pause.svg);
}
.eye-gaze-mode.dwell-clicker-paused .toggle-dwell-clicking .button-icon {
	background: url(../../images/dark/eye-gaze-unpause.svg);
}
