body {
	font-family: sans-serif;
	/* font-family: 'Comic Sans MS', 'Comic Sans', cursive; */
	background-color: white;
	color: black;
}

html,
body {
	overflow: unset;
	display: unset;
}

body>section {
	padding-left: calc(50vw - 500px);
	padding-right: calc(50vw - 500px);
	padding-left: max(10px, calc(50vw - 500px));
	padding-right: max(10px, calc(50vw - 500px));
	padding-top: 10px;
	padding-bottom: 10px;
}


#wooden-window-frame {
	transition: transform 4s ease, box-shadow 5s ease;
	/* Most images have this set to pixelated, but that looks bad for the transition. */
	/* I have no idea why unset doesn't work here... */
	/* Chrome shows the media query's `image-rendering` with strike-through, but maybe that's a bug and it's actually winning? */
	image-rendering: auto;
}

a[href^="https://98.js.org"]:hover #wooden-window-frame,
a[href^="https://98.js.org"]:focus #wooden-window-frame {
	transform: scale(1.2);
	box-shadow:
		0 0 5px 2px rgba(0, 43, 78, 0.5),
		0 0 100px 50px rgba(100, 163, 214, 0.5);
}

.os-icon {
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	position: relative;
	border: 2px solid black;
	border-radius: 5px;
	margin: 2px;
	padding: 2px;
}

.os-icon>img {
	position: absolute;
	bottom: 0;
	left: 0;
}

@supports (display: inline-flex) {
	.os-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.os-icon>img {
		position: unset;
		bottom: unset;
		left: unset;
	}
}

#textual-paint-section {
	font-family: monospace;
	background-color: black;
	color: white;
}