html {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	font-family: sans-serif;
	/* font-family: 'Comic Sans MS', 'Comic Sans', cursive; */
	background-color: white;
	color: black;
}

html,
body {
	overflow: unset;
	display: unset;
}

body>* {
	/* margin/padding on the body doesn't work */
	margin-left: 10px;
	margin-right: 10px;
}


#wooden-window-frame {
	transition: transform 4s ease, box-shadow 5s ease;
}

a[href^="https://98.js.org"]:hover #wooden-window-frame,
a[href^="https://98.js.org"]:focus #wooden-window-frame {
	transform: scale(1.2);
	box-shadow:
		0 0 5px 2px rgba(0, 43, 78, 0.5),
		0 0 100px 50px rgba(100, 163, 214, 0.5);
}

.os-icon {
	display: inline-block;
	vertical-align: bottom;
	width: 35px;
	height: 35px;
	position: relative;
}

.os-icon>img {
	position: absolute;
	bottom: 0;
	left: 0;
}

@supports (display: inline-flex) {
	.os-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.os-icon>img {
		position: unset;
		bottom: unset;
		left: unset;
	}
}